.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 294px;
    min-height: 60px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 16px;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
}

.button-primary {
    /* Black */
    background: #111111;
    border: 1px solid #111111;

    /* White */

    color: #FDFEFF;
}

.button-primary:hover {
    color: rgb(206,207,207);
}

.button-primary:active {
    background: rgb(65,65,65);
}

.button-primary:disabled {
    background: rgb(154,156,165);
    color: #EAEAF2;
}

.button-secondary {
    background: #FDFEFF;
    /* Black */
    border: 1px solid #111111;
    color: #111111;
}

.button-secondary:hover {
    border-color: #818390;
}

.button-cancel {
    background: #FDFEFF;
    /* Black */
    border: 1px solid #111111;
    color: #818390;
}

.button-cancel:hover {
    color: #111111;
}